@import "colors";

body {
  margin: 0;
  padding: 0;

}

.main {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02px;
  transition: color 0.8s ease, background-color 0.8s ease, fill 0.8s ease, border-color 0.8s ease;
  @include themed() {
    color: t($text);
    background: t($bg);
  }
}

* {
  box-sizing: border-box;

}

input {
  margin: 0;
  padding: 0;
}

ul, ol {
  all: unset;
  list-style: none;
  display: flex;
  flex-flow: column;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  line-height: 150%;

}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
